<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Consensus Proposal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://fonts.googleapis.com/css?family=Barlow" rel="stylesheet">
</head>
<body bgcolor= "#EFEFEF" style="margin: 0; padding: 0; font-family: 'Barlow', sans-serif;
font-weight: 400; width:100%">
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td align="center" bgcolor="#EFEFEF">
          <div id="logo_consensus" style ="margin:16px">
          <img alt="Consensus logo" width="148" height="158" style="display: block;"
          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJQAAACeCAYAAADUpyOyAAAACXBIWXMAABcSAAAXEgFnn9JSAAAA
          B3RJTUUH4QwdEjInIZeWwAAAIABJREFUeNrtXXd4VFXefs+dmmmZSe8VkkAChMRQQkcgBJAWwAQB
          aUpHXFcsKLgsroruioKuClJ0EVRE94NFkSLY6NIDhBBCC0kI6X1m7u/7I3NxCEmYhHTu+zz3yZM7
          997T3vNrpwEiRIhoeBCVi5VQBzCxCgQCERi7tzpOEa/uaDTxSJMB6QA4yw8SAL5AZ0cT/gBnZExi
          sn7vjJFHmIwTCdV6CWMGY5K77u0gXjH6HFM5E+xvlEH+tB5umwjjDEUIzmQYUFYKEAD+zkeqrj0p
          ASYpyE1Jt7KJbX3flYwzL7H3/TRgPIf8xd4ona5hebYQWCRUS8AxMxApudOQz9yimG05bFhOMXzz
          ebgrGdqWE+xNvDV76lA7ZHmHB+xkAMdgMhMuO0lwC1Kcv8nhS1M77GeMlbVWYrVaQr1eyGOR5k+V
          89x1PvbT21ieV85cOMBAgIynxq1oAsolHEpkHLJd9LTqagD3L+H3bjcJB92ZSKjmhIFXCbt8mMWG
          Id2Uy3gkqQQxaoa/ppWCuyNBmoUOBiCB0VeJ7cUMn/Yy0LGtHlw6AGArAaOZSKgmw1UCLER6roAC
          1qZghh3QO9uEbqXm5p99jgF6GZJLeeyM88C3n7uxPQAwL5vHSgdOJFRjYvB1Hj94cZAWkM7zKl7K
          L8OLOSaLLGJVGNLNnVwA3O2wZbIfLX5dy5179DJhjz8TCdVYLn50EoVmmGlcWglbXGK6yzRu4W4p
          0NmA72+Z8ML19uy0SKgGwtpcwlQ9AxFxklN4TWXCnCIzHKh10OgeUikkKFQqsDsxjCZ6Mq7wWjnB
          W85EQj0ovK4SrlvspM/yqOOkFJyEEQ8POPAL3DFmhSf7VpRQD+q9XSK2K5BRt+vkdvE23iw24ckS
          E8hiJT08YECAkg4opWxSYjuWPPMG4SNPJhKqLhiTSm9tzcI4juBnakxDu7IqpUo11wSqVsohe7I7
          tq3xZJMJBE0+UKRjIqFqwrirhK98GMbkkiwtExsO5FACNVJEmQFmRiCSwewrJ0l6KTtaKoWRSUAk
          eI48GMpgaqdCr2QTzOYycFThpHHEgd1FvIboAGbAQ4d96e0xkGfMFJ7E40QQJxKqSjxBwEaGBRkU
          tTUTL14vxeiGimo7ygAZhxvp5fhVyVAMJXI7q3Fgqx+uuTN2sBaep09YBjoWFaBnUQHccnmoFFKE
          yAkdshvQ1nNWIClIQ1N/C+R+wwECujORUNZ4sZDwpoah02UacCUbm3PNcKzXBHhAJgccGc6YZFjb
          X43jKiVdXu/OXan86JlyQpgNHlUmT3DhWCWCGdmjGRKn4gLmr+IRcbAUCUoevbPL67/WlRwKS3WY
          jiD25ZAUwo4AJhLqvSwezzhxICpljyQreqQW4Jfbpnp0khjMRCgKd8SBPwIwwnqAVsCGfB5P6hpW
          bQy8Qq/vy8JTxMPeRJDXSwsSoJIA4VrM+z2IrQKAlFJCgJKJEmrkZf7l77LY6/Vld0g4lPkocMhX
          g7U/+eErxlgJAKzLI0yxb7riT7vBD/khm01NL8MAEOzN9VBeOQfwcjxn6sj+VSEleTDWuHZVsxgo
          2pxXMWckPJH+9n/1QSaqGB+L0GGDpwId/hGKYfv82QbGWMnb2RUfbyoyDbtZkf6nntyOL8IwXi5D
          J1c7PKWSPLjxXs4DpnL8MySRvgAAxjgsSqeHR0L9LZ+wxOLuLrjOL/ownS0r5x+sNByBd1fjYjsV
          Ynb7sysAMO8WYaVz8/M/Yq8QvvetyNfMfLL/JZ1+OpvLQoEHV4X2Sjz7pj1WzPJlDw+hBISdo4WJ
          RXiL5x8gqsMDjnY462uHt/8IYhsAoMMFwung5h9qi0ohHLEY0u2SKLaoHG9eLUbHOkW5LDaVmxwY
          7UlRHzpzRx8KQt0wEzwlDP6JNPRKMb7jeUjr+i0ZA/o54N/XwL9wLlBSgBaKzimE4wEMT2WT6kgm
          JlwvxcdZZXVsJQL81NiWGsaGt3obauTlCjLFpFJoWRm2PwiZNBzSRrjRtB8D2ewEHddiyQQAxy1S
          KikHxSdC2Ce99Yh0VSK9rqIi1YiOjV2GRifUZzlmfOfPsDiTOv6cg9/SHmC1kq8d9h2LROgWb25t
          v0s8Fju3jqE9f2XF361+7I9THdHVSYlPFHVpKTPMrZpQc9J5TDJIQFSu+iQdn5YYYV9Xcd5Fhx9T
          w/BoMGO5c68TfgpsPUuW1nsyEBFGXyO4MnZ1TRhm+6kwR2Y9fmhLh5M3vknTqK2wP7+ifM5nZIsy
          S/FInWItAAIc8OrhEBbDFlasUVnl1QqXIzGGrd4V5XriFMwX2rMPh7himhQosYkmBLir8H6rJdTk
          HMKZIIZBV2hKYRlerkt0QCsBElzx15S2bBnWE2g5j4cBhZ2K0OY84b8+bG0nA0bZS3H7fq3qbY+j
          B9uwFfjZ2DoJtd5Q0a1+vY01pbXlgWWt23wvemqDL/tnBUPZPQs3WysY0yA5hCHsAuFYW7ZzhiuN
          1khQWu0LV5Ng9+zYjQAYestaH6HWF1Yo/bZn6VCxsfZ6XQ7gNT9a8rort2ZB2sMhlarCmWCG2Vd5
          LPfkfl7WET0VEmyTSpHMgAzGkCmR4Jy7FluU40Lp9sE9744cObIzALz22mutpxJyqWKEd1AK9Zce
          JSMOE9l8HSHCYTJGJtFLAPBCGi/uxQBgyq0/rfLHC8hRfpRCNSco7CkyqwGga5cuS2UyGTk6Ouab
          TCafRpWmjZWQ60kqySiDstbenD1+ORzCeos0qmST3iSsr2alMREpPDw8dt68ebOPRqP5obCwMLZV
          qbwuyfSXWpMJgL0Chw6HsN54gkBUIrLI2oyoYdk6Y6wsOjr6ZbVazUskksGjRo16HAC2b9/e8gs+
          O53aSo/WQs0dJsIhIrcTlLImj9wB4IlbJDKoDujevftsAOTq6preWGk2mITqe72CBP/Lwqvm2tjR
          DJBz4AP1tGy6PbsJABudRdOpNli8eDG6d++OAwcOfBgUFPRbRkaG6/Tp079t8QULOE8hymOUX1vp
          FHyOvgOAbpd5kR0PgN69e6N9+/Zd7OzsjABo7ty5bVqkhCKqkE5qhlGlZmhr865CgcTzIfwkADjo
          z4mseAD8/PPPSExMPOzl5XUAAHbv3r2EiDihfVoMoYR9B26V4R+19Tm7qTGDMUm+SIf6w5tvvjmb
          MYb09PQJ0dHRnRtyg7N6J9Sbxgr2h12g19OLaxe/8JJjS7w/Dr6QIRrh9Ym4uLgzPXv2PJibmwuT
          yTQaALZt29YgadU/Vd8i4AUGxXHKLDPC2XY9iRIXBwzMbMt+EylQv+YHYww7d+50iY+PzygpKUFJ
          SYmBMZbbMlTeCwxxqfQPc23IBMDHHmmZbdlvmiRROjWE+fHBBx9k2dvbbywtLUWvXr1WAMDHH3/c
          /CUUUTmTHZOtNvGYZus7Ega82wlt5svZJZECDYdevXoNOHr06A6lUlmWnZ3tyRird1uVq18ymRF5
          UeZsL8WjtVB1CNVht0imhsd//vOfXxhj5/Py8tRdu3ad1+xVHmMS+EopLMdIfra+o5IB10ox97Hr
          oqpraPj6+pYFBAQk8zzPLly4EHLr1i1JsyYUAOwtYE/wZLsmlQMnBjhS1jYvMRre0MY5ADz99NNT
          DQYDDAZD7Jw5c1zS09ObN6HA44naGHCcHH987cXdFpu84Y3z/v37Y/78+blqtfpIamqqY2BgYEc3
          N7fmTag8MxS1MMaNKwPwmdjcjYO9e/cCACIjI7cCwI8//jipWaq8G1Qx5haVQt+iFjumcBIUPKFi
          +8WmblxER0dv1el0uH79emyzJJSnZYePsznoavMXCWinxDaxeRsXO3bswI8//nhNr9efzcnJMQDA
          9OnTmyHrb5OaHaZ0W2cVsCNEB4mCxCZuEgOdeXh4/B0ALViw4O/WRnuzsaHal6CDlEFt6/P2CpR1
          YyzpvWIxXNAEBjoxxrIBYM+ePU8LRnuzItRPBWjLw3aDnCd8BwDPqMRwQVNAqVRmSqVSc2JioomI
          6q0R6o1QRAhkgG2LwAgIVSBFbNamw/jx4zOUSmUpAPlLL71kaFaE4omkvLkW+4cz4KQRv4rN2nRY
          unTpkfLy8myO4xTFxcUBzYpQXAokqUbbZ2ZqZYC3EoXYItpPTWhH5Tk5ORXzPC8/efKkd7Mi1Dgp
          VP5S2ze/KOWRmsfjCsaI9lNTwtfXN4uIFMXFxc2LUFuLwF0x2b4vpF6C3Df9qFBs0qbFjRs3TjDG
          UFxc7NCsCGUuAPEm2LxE5ZYRlycrxPG7pkafPn2kZrMZFy9eRLMiVJgWdjopPGx9Xi2DqOuaATIz
          M88CQOfOnQOJqF62aZHWx0cSTSCewNtKUBlfw1Y0IhoNx44dOw8ARqNRU1paWj8OWr2oPFa7Pdtz
          TRCXSTUDuLq6cgBQWlpK9aX26iewWQ5AXOQror4IJZECTLSKWhyE8Tsigtlsbj6E4jmgNqNBnEi+
          ZoGkpCQOAJydnREeHt58CBXAAHUtlmS5yOEqNmfTIy4urisAXLt27QZQP0eC1wuhsstQXs4jx9bn
          M0yixdUckJ6e7g4AeXl5WYwxvtkQKkcK3sihzNbn1YCGyCwVm7Rpcfr0aU4mk6FDhw71NqhaL4Tq
          qAEZJLaLTJkEbRKyOA+xSZsGwuzMtm3b9jOZTMbc3NzUZkWoK+UozjfjuM1eIcEjN7+ezxIWUWvv
          7siRIya5XM736dMnr1kRakYITwa57dHvLB6KX0phEJu26bBx48ZguVzuUF5eXrh3794DzYpQy5mk
          PI/HOZvdPDPgyuAvNmvTYd26dUE8z+s4jjN9+eWXhc2KUAAgJyTXxvW8YkIHsVmbDsnJyR5Go1Fh
          NpvLQ0NDi5sdobo54paE2bjMkwAvhsHWBqKIxkVeXp7ObDYjPj4+qz7bod4IZW/CEZ5QZJtVCGQZ
          EUxEHBPHbBodEyZMkCoUijAA6Ny58zhrQ/2BDf569R4O0w2CjfOiCBjhRfP/68mtFJu48XDp0iVM
          nDhRm52dnZ+VlYWsrKx65UC9SKjwnApxKdPhZm3msfw3iz0jNnHjIjAwEHFxcQPPnz8PJyen8/X9
          /Xoh1AnLWXgfe9C/aiMb5eVwqa+ZgiJsx7///e9YAAgODl7TLAklYIqO+0JfC3qYAPWQFPqL2MSN
          g6lTpwIAFArFdC8vL5jN5v81a0IBgEKGY7Y+yxO4AwWsz3EihdjcDYunn34aa9euxZNPPjnx7Nmz
          MBqNP4WFhV2v73Tq3cXqe4mm7MvCWlu/7CBDibcSoQNdcPkdR9Hja2h4eHgcTEtL62pvb78yLy9v
          frOWUAeIcKoMPynktgc4c4ywU8kQ/Y4jA04SFuSKM1saCrNmzfLJyclxl8lk5W+//faOFpHpVbmk
          0P9B39bm9CmP0xVRNSJxMUxD4fnnn0enTp3+KpfLKTg4OAkAXn755ZaRec1J+js7QnxtSBV7jf4N
          AO8VixKqviHs9Ovu7p6Mik3GRrSoAnxKFCo5TEWWQ6hturjDVHCEeD+x+RsG+/fvHw6AQkND04AW
          dFL6bEuQ0+0M/YBDthOKHSE+6Cy9VqH6xPG9+oarqyvJZDLq06fP0IZMp97DBh9agpxfteH/UZuo
          ORFYShleHnaZvMXxvfrFyJEjl2VkZMDT0/Pi888/f6xFEQoArpEJvZWSnyMdcaA2pDIZIUs3Ybnw
          /8RcUVI9CF555RXMnj3bY+fOnfGMMXJ1dV01bNiw9BZHKG8mxcu5xFKLMM+uNksRGJCYj/jA8zQE
          APLEBet1wsKFCzFlyhQsW7YMqampz5SUlAQGBgbmHjp06P0WWaA5WRWSZRtPcucTtKs2thQOE2mO
          U9qyAvIVqfFgeO+99xw1Gg1JpVLavHlzBABMnDixZReqfwoloDYhBMvleYq++cpslj5yXlR7dUXH
          jh3PA6C2bdt+DADJyckNnmaDHzu+N4Bt8pDjEAi2D/QQkGPE6LcvcvOPhjAMuSqSqrYIDQ1dcurU
          qWCNRnMzJibm75GRkWjTpk3LLtTsooog5ZibvFb9R+0kFA4TSY4RzbtN0QAQck4klS0YMGAAYmJi
          Orm4uBAAeuWVVxa3qgIGplYQoe9FWl5bQuEwkfwoZQcnUVsA+Lt4Wnq1ePTRikNUd+zYoQoKCroE
          gMLDw3cBwKuvvtpo+WiUgM/sm4RLZjjtz8DRUjNqbWxrpUi+1BmdXRgr/C6fMFInxqmqQ5s2bXYl
          JycPcHV1PZient6HMVbemOlzjZHIh+4MO71Y1lQPLEAdhEyBCW3anUAGEXmO1DFseMjjU/OL7i7/
          V2UEIkJoaOjqS5cuDZDL5TcjIyMnM8bKr1692jorYcqNikronkTf10X14RCR10m6sSyDKhZBpD5c
          pHrp1p+D5l7J1KZdEg3nztMo10TqPyWX/EK9PcZKJBJeIpHwo0aNmg8AvXv3bv0VQ0QS9XH6pbax
          KeFyOk7nWBb5AMCsh8T7G2spp5nMrtoTtN7uOBXeqZMjRJ6JlK6b9jKplErq1KnTdADo06dPk+SV
          NTKZwBjD0FTq92sOvs8zQlHHXJduDULH0fbsYuvvgKVgTIlFt6ntihTsLSJ4Vfkgz8OPFewa5MwP
          +WTjHhNeHdsk+eUalb2MYUAK4X9+7CdIMUtS19QJyoRknG57nsbdUQOtTAWuzxLKcwkOp6n7hhtI
          qpZMAMBxuMLZDzxmMjyOV8diaxnf+iVUZbidpTlZxVhlqiMXFBzQVoX/nmnPRgr3Ft7ksdydazXE
          apdI758rwjTwUNnSWjoJkBdRJmdMaWyK/DZpzS/2oo86afBRXTNRxgNnijBCe5xSA8+T18cZZtaS
          yTQljdDl2p+9y/csXTtXiHkg28gEAPkmYOlNxfimKkOT1v5se858zB0LXBTYh7pqLAIKyuFbWoZr
          y25xz8/PJncAGNyCDHYigs8FwjoPhtkOUASfp3kuJ4muFNSg4mrAkiJomqosTRshTCIgiCGDSDc+
          CWf25MD7QSmuk+JiV0es3+XL/lERpCFgHGvGZDKCsYrVsTHX6Kl9GZhmJnQ1PUB/cNRhwO0Qtufh
          I5QFC64TeAb1vhycOFWCNnhQ4cIDTlpktJGh32IvOj9Exd31xbk5hFWGpiv6FiKMscxKHZxOLJAn
          n//msu+u5yP8QTuUhANMkVAxxkoeWkIJuEHmdj3OcOtSS9D1wbt+RenCtPjuZjnWvOyDo88ZWIbw
          8w4jjyGyptP4uUTqNqcQ5WdHTx0tYONhqofWIGCIBz7Z4c1mfEqEaU0wlbrZEOr92zzmO3J4v4h0
          r1zGW8UlmGmqJzNIxgEcw+UIe+wz6LBwhwvLAoDPC8yYqJU0eNneLSA8q62o6mQyu4We4xIUZZhR
          Yoa/kbf94Mr7GcNtVdj9T18MHaZt3PG7ZiuhAMD3MiHVD5LQRKw6X4wZPKH+dsKyEFSrRPZz7nz8
          aye5/d19wUZ5w7RQye457GRfOY++8vtLsc3lhHj5vdmMJ2JJSST74zLDW93Re811/OtiUf1vBckA
          ggLHqBOLaur2a9bD9gMv0uu/5uPlEnM9f9hCLI0M0EuRrJRgd74ZBwY4IPOLG9hDXWBijNVJPj6b
          RaqT5Yi4noeAmyYE25nRv4THIwUmSGs1ydBGaDhAocA7tzuw5wHA/gYhz5OJhLoLlwinjgMdxzBE
          XqSeifn4osQE74bMrZQDlAwlhTyuSoFyGQdjCYf8zlrIHM20c7eJnYYS3B1SGGEeKUW72xxG/JKP
          YpUZhlIeHMegljC4EEFX3sDBap0E5kcdEfutH9sFAOtLCZOVTJRQNcVnGGMoJ3LwS8Sv6UVoxzdm
          rVCFx1it50V/Gv+NXZMOcpwc3wGDVklY5sybhI/cm0dTNuuwMmMMz2YQ5Ixlp4Wy9j0MeM1Ogmw0
          dMxSIJJQQ6wG4nGNSCYCOCmM7hoszQ5n4askLLNPWvMhU7OXUNYYcImwO5Ch6zmTIR/ct+cKWJ+G
          sEmar7gGgjVIvGBCP+qITMbYHQnenNBiBr52BzIQ5eBQoST3XDuu7ys+iJdLcVPaygnFMUAhwa1o
          Z7x+IZSFRqsqyCRI8GanVVpiJZcRQcEY9hGpZp7DwrRSTMk3wadVySMC08mQp1bgs5MheM1FwrIn
          7iR8HtO8m6zF9u92yYRzbSqy73uaNG5qjD6bhw2FxhZPJYADnnDB4o2ZePfmIyhyZ4yeu074p1fz
          b65WoTB6XyH87FtRlPbn6fkrRZhZxMOHAdKWsjMQx2CWApkqLTbmBONvjLHCBWnEVniwFjVzsNVY
          IL8Soeefp3xr2SnE+nPoXsBjQVZJ07j295VEAORSgp+KbUorpW3vh7OfpzJ2wzpk0tLQ6kzaN7II
          LzlVFGu7kbj4c1ANtsdjpwox60opepUZm9gV4QFIAR8lzvjZYWViCX09z58VLlEzI9D0MyFEQt0H
          r2QSlrn8WUztRZptLMBwBrgRwbOc4MTzDSeFpBJACtwyAxkmhvRH9HT2SCC3oLXW90OzBNd6IpuA
          UTf58B3ZLMibIfRqGTwVhCAmQShvgrqMQWE04e4AZxUq604sTAq4SQh5YHnlRhzRyXA7QI5rl3ic
          6q/GyW/88k4zpm/1674eujXd3a8TDlTylnYRsXFJYGojcSaOceZysEIG9rgWck8Dxr9dBG15IQhl
          AEoBSABoCHoVwygNuEcZtk9IRUqIjCgdjIrLwAfrQBvaEEUw7i75x64RyFtcSi/iPthVIm7kIUKE
          CBEiRIgQIUKECBEiRIgQIUKECBEiRIgQIaJpUdXhiOKBiSIelFQSItIRkb31/TfeeOO+7xqN1U/6
          Li4ubtRyXLhwoUV9t6aOu3//fhw/frzRufDHH3/c9f99T7ObMmUK1q1bhxEjRugSExMdfX19/63X
          62Py8/PvFHD48OHFcrl84Llz55IAZM2dOxerVq26qyKE6aw9e/Z0nDFjhptMJnti1apVagCIjY1V
          Ojg4vB8UFJRFRJmMMYqJicHOnTvvysujjz6q2bNnjxMA6tKlS+Hhw4dv15B1CQBvAIiPj8/YvHnz
          XfsldezY0TEkJMRu7dq1cUQUYP0bx3HZMplsxYQJE/KEe2vWrHFgjP0DQFl1CTLGZDqdbldwcPC3
          AKDRaNwLCwvlDg4OXLdu3a7u2LHDXMPUXnsAer1ezw8aNCjjq6++KgeARx55BEePHkWPHj0MjDH1
          ypUrI9Vq9RCyHCHPKsD36dOn8qQ9PQB7FxcXFhUVlf6///2vtCrBwBjztvxbAOA2AAjt99hjj6lO
          nDjh2Lt3b5cBAwaM43leaVVWaLXaLyMiIn63mX2TJ09mABATExPp4eFx1N7eXlh8fc+lVCrJ398/
          bdCgQU8L78+ePRsA4OnpCQDo3LnzAkdHx0tSqfSe9yUSCel0uoI2bdp8/N577zkAQP/+/e/KT//+
          /ecKz/v4+JxavHixXd++favLvpfwbHx8/HAAePzxxwEAPXr0GKnX65O1Wm2VZXFycuJjYmKCKn3P
          v7qyW19+fn53DjnUaDRnAJBCoaCgoKB/3qe6lwAgvV7Pjx07NsrS+QAAvXr1GuTg4HBJpVJVmaZa
          rSYiqszStwCQi4sLDR06NLYaiedm9Z0vrH8bMWKEs7u7+57q6ggATZw4cb3NZJowYQIAYN68eZOl
          UqlZ+IhcLieDwfDrjBkzPlu0aNG68PDwg9aJKBQKkkgk8cJ3/Pz8GAB06NDhmGVHkxovjuNIpVKl
          Pf744/fs3N6vX7+nrJ8NDQ3dAFR7wrcHADMASkhIiBFuOjg4hCkUirKa8uDq6kqxsbGVCeVnC6GC
          goJWWRHqZ+vfBg4c+DYAJCQkVJXfvwLg7e3ts8eOHRsu3HzsscdGchxXY34NBkNVhHrVilADqyGU
          i9V3PgYqTrMCgKCgoBrLKZFI6Mknn1xX+ZvVqrz//Oc/GDdu3OA1a9asM5lMkEgkFBkZ+duwYcPG
          LF68OOPjjz+2zpg2Kirqg1OnTiWUlZVJo6KiNoWGhv6wfv363NTUVOrWrduvBw8ejAAAmUxm9PX1
          /dXX1/edzz///Ky7uzs/e/ZstwsXLjx9+PDhMUVFRfri4mL3vXv3fjFv3rzuK1euvDps2DBs3779
          njwmJiZOGjt27O+vvfbax7Z2lODg4HcOHDggBwAvL68fevTosTgwMPCW2fznnkFarZb38fFJ+/77
          76v8xpgxY85u2bKlBwBDZa3H83xudWnv2bPnmbFjx/64adOmXbauajly5MhinufljDFq06bNd7Gx
          sSu0Wm2KyWSSCuaERqPhqth+qE7TQnfv3o3+/fsv2bt3LwBAp9OlxsTEvBgSEnLUZDKZecsEfMYY
          IiIiijZs2HD/j77wwguYMGGCk7Oz8wWLVCqJiop64X6GYmBg4Jj27dv/0b1793fj4uJkABASEvKs
          wOoOHTpQu3btRlWX7qJFi9o7OjoeEJ7v2LHjSaGQlSWUXC4vEyTa0KFDE6owWu+RUETkJKjttm3b
          1tY1vSOhpk6desKWFwQJJZVKjVbS5MZXX33FAcC1a9dqlFCzZs3q4+DgUAKAHB0dD+7YsaPGkyc+
          +ugj638X10VCWaTTVQCk0+lo06ZNdjWl+fbbb9tWe506dZpoZRd8CwDR0dFVPnv79p+28YwZM5Sv
          vPKKlIgwZswYLycnp8sWG4vv2LHjMKHRa/JY2rdvf0e0fvDBBxOrUnlDhw4dJ5FIyFLZ+cOGDQu+
          n8rbv39/uJX6+V4wemtLqMmTJ5+sDaEMBsMmPz+/O6ZBYGDgLVtUXmxs7Ei9Xk+Wxv2slh2gzoTy
          9/fPtdiSFwIDA6Xjx9fDtufu7u47AJBKpTIRUZ32gfTz8+snNLqzs/NPwnfeeeedGt1iLy+vLoLh
          7u7unlSNDQU3N7fvhP/d3Ny2vfvuu5r7SKgAuVx+R1pWl++VK1fWSKgpU6bUSkIB2ERECplMdl2w
          I93d3dfm5+cqpbEPAAAK0UlEQVTLaiLUzJkzY52dnXlL/e3ft2+fsjEIFRoammlxEMq//PJLx6re
          /eCDD2pHhoCAAAJAISEhv1QVb7AFw4YNe8lKIsTb8k6XLl3w+OOPu/r7+xdYjPwby5Yt86uKUESk
          8PHxSRPu+fv7772fUR4cHPy78Hx4ePg7H330URgAOQAlACURye4noeLj48+9+OKLHrNmzWpnfc2d
          Ozfsueee01RBqC8BcDNmzPDW6/U5glHbtWvXF2siFBEpHBwczlieN/bt23fN8uXLAxISEtQAFAaD
          QWlV1/VGqMjIyH8K9z08PA7OnDkz4rnnnrO31JGCiNT36Xz3QpAQcXFxr9VVykVGRu4QKu+NN96w
          eXcUIlKEhYV9Y7GRMhwdHdtXRSgA6Natm0ogP2OMXFxc3quJUCEhIX2FsjHGeMaY0RJbKgNQxnFc
          SY8ePZZYPKwqCcVxHM8YK698KZVKcnNzG1ANoaSWUMpzdnZ2vPCtd955p39VhFqyZAkAYPTo0XdC
          JYwxspzQeSe/Go2GBg0aNBcAPDw8rE2JOhMKAMLCwsgq3bvqCEB5p06dLtc6MGsRzY/VlVB+fn7f
          C4Tat2+fcy1fX2bJQwaAdtURytLwsUql0gSANBoNde3adbjFA+OtCSUYrX379n1Jr9cXSyQSkkgk
          xHEccRx3V+giMDBwJxFJahM2UCgU5ObmNqg6Qk2bNk2Ip30jvGNvb09Lly71B/BMZQk1ePBggVQv
          2tnZFchksjt5FUwJ4fL19T00b948ZX1IKEtwM8TT0zNNSKtyHQEgBweHW5MnT+4AAJs2baq5NYVT
          taOjo1fVlVDdunXbZfFy6M033/SohYRShoeH/1eQUE5OTu1rIpTFI9pk1aPyPv300xcB5FeWUFaB
          ux6Ojo7jtFrteLVanSCXy8dGRES8rdPphA0RKSYm5v8AYP78+XcRqm/fvpcA9AUw1PpSKpUj3d3d
          XWqSUAJiYmJ+s1IrFyMiIlYBMFeOQw0dOlRQaRHe3t7xKpUqQa1WJ6hUqvjg4OC/W/JLjDHq16/f
          G+np6dyDEmrbtm2Cg+Wt1WqHGQyGJ9RqdYJarU4IDw//i6ura6GV7XrFpkb19PS8ZelBZ2rlHloh
          Njb2ZSHh6dOnj7B1vGrUqFGOnp6elyy9Pm3mzJkB1RFqzZo1d97t3r37HitS8RKJxFQVoYTo+ujR
          oxESEoLAwMA7v23YsKGjWq0mS0co+OSTT9rb6uUplUq4ubmhJkIJKmnatGkGNze3P6ykW7Glvu8i
          lPWY2aRJk+Dn54fAwEAoFAohAJ0gk8nKBfL06NFDVR8SysoRQkREBAICAu7UExHJQ0JCjAKRn3nm
          mb73bdiIiIjVQmR88ODBXWwhww8//HDXXx8fnwGCveLp6bmbiGoMF6SlpQmVPUgQ6d7e3snVeXlV
          jU25u7tfrqyKqpJQVeHw4cNCvpdbpGNZQEBA3IOGDaqSUJaxyYEODg535bU6QlWF4cOHC53/mFWs
          z8s6Uu7s7EyDBg0aUM0sEef7Eaq6EFGnTp3cBBUYEhJyJwBW7cY2Pj4+mx0cHFBeXo5Dhw598dRT
          T9kDwOeff37Ps5s3b4ag84nIU9D90dHRFzQazVUAuHXrVq+RI0d2Z4zh4sV7T3ZdtmwZPDw8hIjy
          Z2azGYwxjB079nVbJRtjzNy9e/dher2+uDrS3c/DJCLo9fqbAMDzPKWkpJgaaqR+z549u3r37j1K
          o9GgLvkVhpzc3d3ThHunT58mAHB1dZUBQF5eHmQymaaqqPzvv/+utmpvm47rdXSsiCJkZmZywjfP
          nz9falOGHRwc1gkMDggISFy0aJGar2bvGyKS9uzZM4vjOIqKipot3G/btu0bjDHeEiClXbt2edZA
          Cubg4PCrkKajo2NmDWN592DmzJnC3/FVSahqxtAq93qVt7f3JYvKKx0zZsywhpBQS5cuvZPfuLi4
          BUJ8ylpC2RJQJCIlx3E5AEgmk9H06dM9AGD69OljBFswMDBwfzXB61eFMv3tb3+7E9b5+uuvbamn
          O+9OmDDhLZvGe4hIqdfrd+fl5fWwjMOZIiIiXndzczu0b9++U1FRUXKe5z0zMzM7FRUVvXv58mUZ
          YwwGg2HJ7du3l1q2Prbz9fX9/erVq+GWQrO+ffuuyM3N3RgUFJTu4OCA5ORkXVFRUfSVK1deunLl
          SoBlPC1v586d3aOjo8/t2LEDQ4YMQb9+/Z766aefPqkp72PGjMGWLVswderUtevXr5/C8zwSEhIG
          b9q0aafFbdcDiKhMSqPRSCkpKXZFRUULDh48OAgAfH19M1JTU9syxgoshLpsSeOSn5/f+OLiYnXl
          DuHo6Hhr2bJlpwVCFRYW9gLwFYAnANwj7VasWAEfHx/9kiVLtp8+fbqHXq/PGThwYP+vv/76BADM
          mTPHg4hCKueX4zg6f/686sKFC89eu3ZtgEXCXuzUqVPo6tWrjRZVmHPjxg29pWMvDQsL+3rQoEG5
          e/bsYSkpKXEnTpx4m+d5qU6nK8/Pz/cwGo23ZTKZMFMkFhV7zdyF9PR0lp6eHvP7778vtIyAsG3b
          trkOHDgws0YGTpo0CQAwZMgQbXh4+GeCvrRMMzEyxi7L5fKrKpUqX6FQkJXHkrJ69Wpva0P+iy++
          cOrZs+cJa7dcqVTmKBSKy0ql8rJSqUzXaDR3vqHRaEyxsbERluESmyWUgGeffZYRESzzku6yoQwG
          Qw+DwVBmMBiKrC+9Xl+k1WrvxIekUim9/vrr0QBgGSj1s5ouYjYYDIWVv6HT6UpHjBhxylYbyhpJ
          SUk6Nzc30mq1t61tKIPBMN1gMJRWTstgMBSpVKoyQbLJ5XJ+4sSJQ60N/6lTp3aWyWR36lWlUt1S
          q9WX5XJ5qlwu563sruVbt27lAGDfvn1CulRVmjqdrlSwbyUSCY0dO3ZxrfT0p59+Cou6mKxUKosY
          Y0ZBhVkCbTwAo1arNT/55JPLqho0fuutt0BE0piYmPUcx5VYAopUKWDHAzCFhYWdfe+995QAMHny
          ZNRG5VXGjRs3HGUyWfb48eMHW93uhT/PSrjnYozx9vb2pZMmTeoHAB9++GHlOBRfw0WxsbFXrAi1
          3/LO5poIZTW+qfD09CwfM2ZMZ6ufZ9wnv2bGmHHRokXjASA+vkJzCcNbHTp0GKhSqaqscwCmUaNG
          ba8hDlltWaVSaXmHDh0+JSKpdVvXaooDEXF9+/Z94ty5c/6FhYV2Wq1WCaAQQNLp06d/cHFxudWv
          Xz/Mnz8fo0ZVPalgw4YNHV544YXhROSRkZHBLL2BAbgdFRV18Mcff9xu8TLvGe7p06dP5P79+0db
          nImXasrrX/7yF/zrX//CnDlzojMyMoxbtmw5YvnJF8A0/Lk3XeUhp/Lhw4d/uWLFikvLly/HwoUL
          hZ/0ABYCqOksOhYbG5v7/fffv2sh1NTCwkJfAGcAfFNdmhbVhg8++ABTp07tX1BQcO3rr78WPJdH
          AAyv6l2O4xAYGGjauXPnuoCAgBvC7FoBcXFx+Oabb/Diiy92Wb169RAicsvOzublcjkMBkPRuHHj
          9q9cuXL7wIEDmU6no2+++eYubQygyqk4arWaT0hISFyzZs2WOnsk9bEQ4fnnn7f52aeffvqu/zdu
          3Fjr9OLi4qwDmWgszJo1q07vVdcJbcHq1avr9N7cuXPrnObIkSMhQoQIESJEPKT4f44M+JLnZOeE
          AAAAAElFTkSuQmCC" />
          </div>
        </td>
      </tr>
      <tr>
        <td bgcolor= "#EFEFEF" style="padding: 5% 10%; border-top: 4px double #07889B;">
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td style="font-size:26px;">
                Welcome to Consensus
                <br></br>
              </td>
            </tr>
            <tr>
              <td>
                {{ proposer }} would like to know your opinion regarding the following proposal:
              </td>
            </tr>
            <tr>
              <td>
                {{ proposal }}
              </td>
            </tr>
            <tr>
              <td>
                Please read it carefully and give your feedback below
              </td>
            </tr>
            <tr>
              <td>
                This is the circle: {{ involved }}
              </td>
            </tr>
            <tr>
              <td><a href="{{ domain_link }}/{{ id_proposal }}/{{ recipient }}/consensus/">Consensus</a></td>
              <td><a href="{{ domain_link }}/{{ id_proposal }}/{{ recipient }}/disensus/">Disensus</a></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td bgcolor="#07889B" style="padding: 15px 30px 15px 30px; position:absolute; bottom:0; width: 100%">
          <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-color: transparent;">
            <tr>
              <td width="75%">
                &reg; Devscola 2018
                </td>
              <td align="right">
                <table border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td>
                      <a href="http://www.twitter.com/">
                        <img alt="Twitter" width="38" height="38" style="display: block;" border="0"  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABHNCSVQICAgIfAhkiAAAAAlwSFlz
                        AAACmQAAApkB5JSlOwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAb5SURB
                        VHic7ZtriFVVFIC/Pc6MjuJb09JelpqaVorPUlF/KL0ox4isyEQCTVDJH72ECkrT0BILEjIxJNSQ
                        IiMDU5BUwiIf+WRSy8fg28y3o6sfa1/vnuM5Z86599w5ii7YnHPvXe+99t5r77WvERFuZChKW4G0
                        4aYD0lYgbbjpgLQVSBtuWAcYY4oAitNWpCYwxjQGOgGtgVbAWaASqBCR3TnwawFMB6YA+xGRwAa0
                        CPu9UA3tmOeB74HzgAS07daYGvUE6gCvAEeBNVe+DyFoBOwButWy8cOArQEGXw74/iAwPMSZTwNb
                        HPwJURzwpkXeDbStBcMN8JHHsC3AO0Af4Dbbi3cA5cCHwErgnIP/dSYagB7Ax9Y5Ls9jQLMoDtjh
                        EO0AWhfY+K8ceReAyYCJQNsV+NMTDUERJMCkasMigGlvH8LNQPMCOWC0I6cC6BmTvgz4zEfns8Bq
                        oMrhXWqHxcvA7CCGc5wQ/MJh+DvQOGHjmwNHLP/1QKM8eI0A9tpoGg509kTDaGAssMt+HhDE6JBF
                        mGk/u2NzbT5K+sjKOLgKeChBvt3R5dIbEZn3dSI+c4Adjxmkcuf7t5zv9wCDElDyEbIz+6wEjX8M
                        OBUyD1QBvYMc0MBBHOL5bRxwieySNBuon4eicy2vA0DDBB1Q7jH4oqf3p17B9SFu6SAO9Pl9pIfZ
                        TqBvjor+anl8mZTxlm8J8B4wCugJTCU7EW4GSsMc0NoxbkKAgHbAMk9IzQE6xlCyCDht6Scm6QBH
                        xp3AL46eB4Cu1XACCPdagsU1CHgSTZTccFsJPAuU1EDbwaHJez7x4f8ccMKRsQpodRVeAPF8S7Q/
                        gqAyG27nPI44aEPvfqDYh84dpy0L4IDpDv9pQB1fvADiFx3iSEmJHRbT0BXCO+ueBzYCC4E3gCeA
                        8c7viafawKxMR4TiBRA3c8JnHRFSUofWAA/bOeGQjzP8Wq8COOBTy/uvMDzfAxEROQZ8YD/2QdPG
                        SCAKa0RkPLqBGYZuSr6zUXDCh2xQVP4xoK59/heGdNWBiDFmMLrUzQX+QXdfM4wx60RkWxwNRKQK
                        +Mk2V0ZjdIa+C02FK+PwjQil9nkqFMsndPqTDc0zzvs+4O6kQ7VQDVhk9f4x7hDY57yXOe9tgLXG
                        mP6x+yIdaGifoRHg54A9aIKSed+KzuKgSdJKY8zE/PUrHBhjDJoBAhwOw71qDhARMcZstQwqRaSf
                        PUFtgx6TFQMlxpgGInLaS3+NQBeghX1fHYYYdCq8DHVAX2NMBxHZiWaH1wsMtE8Bfg5DDKoLzEN3
                        fQBjElKqNiHjgE0iEjoEgvKAfeiRNMAkY0zfBJWrDRhgn6G9D+GVoYnASXSYLDLGNE9AsYKDMaYz
                        WkABWFETfqADRORvYIL9eDuwzBjTJm8NCw9j7fMiNUyAgP9ewJNQTCObDB0GhqWd5ITo2pJs8rYg
                        Ek0Epr2AmY4TLqPzwzNAvbSN9uj6vtXxEtApKQe8bY32K0sdR1POSUC/NB2C5iiZHeySyHQRGN/n
                        Y7hfOwoswHPkVIsOeN3R5cGodMYSh4IxZjkw1H48iO7596Gp8kZ0t7deRC7XyKwAYIypjxY7WgE/
                        iMjjkYkjetfdIU5LK8xD9HOrV7FOqOMIWUV2Enw0baMdvUY6xi+MTR9DUBtgP9nJb+g1YHx7NFkT
                        tD4Ru7gSV2APsuvsJXTiiXxemLDxpWixVtAT6ZzqirkIHkL1w85taNW1NBcF8nDAJ44Or+bKJ9Iq
                        4AWbEi9CT38zcAz4DfgDvbtzEj2N2SUiFbGFhMufgB60AiwVkfKcmeXRA8XoVnkzwbnBtzjXURLq
                        +SkO/wqgSV78ElDIoBUg1/AzwLgChP0MR8Z2Eiio5KNMCfACGvKu8cuBdgkbXgx87sjYANySCO+Y
                        itQFBqM3tPZ6DD8IjCxAr/ewBmfkrAOaJsXfoMWJInRZq7LNAG3Rc4BM64IeNdX3TCO70Bl5noiE
                        FyFigDGmHvAu8Bp6PQ405R6RpBzQa6griLbhybRDwGL0IlJRAXp9AJrYuLvOMUnLqTYE0P29N6wz
                        7QjwDVrR7VIQRXROeQpdOdyt91Lg1kLIrOYAq0QDtHx91OOAtWgo3lMAw7ujQ+iwR2YlziWtWnGA
                        o1RDdL097hMNG9Hrqw/kaHA9a/RkYJMP/worO6/1PWoLzQRtFXcUenO7pw/Kv+gG6YBtlc6zBGhq
                        WxN0M9UN6Eh2UsvAKWAJMF9Eaj7ITBJi9Fx7tOe3EHxrO067jG6xXwIa1EZvx46AILCR0QONip7A
                        vWidvznVK8qgFxSOoxPpFnRN3whsEJGjsYUnDDk5IJShMWXoFZsLwHHRSxLXLCTugOsNbtg/TWXg
                        pgPSViBtuOmAtBVIG/4HF3+asCgXrhEAAAAASUVORK5CYII=" />
                      </a>
                    </td>
                    <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                    <td>
                      <a href="http://www.facebook.com/">
                        <img alt="Facebook" width="35" height="35" style="display: block;" border="0"  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABHNCSVQICAgIfAhkiAAAAAlwSFlz
                        AAADEQAAAxEBQphATgAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAMYSURB
                        VHic7Zu/axRBFMc/T2NCEkVENBJQgyBoLMQ0lulErQyCWCiiNjZqJ2lMJyhaCMbGxtLKIAQEC7Gy
                        sDAIFol/gASFEKLRJOrlWeweN+j92Oy73eea/cKQud2ZN9/57Mzc7G5OVBVvichu4CQwDPQDO+K0
                        DVgCvjRIH4FxVf2UunFVdUlAJ3AdeA+oIQ1ZfHSkJmeQiJwFbgH7GhRRYD5OXUBvnDrrlF0xmcn5
                        qncAj/j7Ks4A94ETQB+wsUn9rcCLoO7+QowAEekBngLHg8NTwE1VfZ4khqr+AhZEJDxsGgF5ToEH
                        1Dq/Coyq6t2UsbqC/A+LqVwAiMhp4FL8sQKMqOqkIWQIwDQCNlgqJ5GIdAHjwaGHxs5DG0dA5gCA
                        88CuOP8ZGGtDzOKMAOBqkL+hqgttiFkFsBovjKklWe4ERaQbWCQCPQ0c0hYNishhovViME7b6xTr
                        BARYVtVui8esF8ED1EbZVILOnyPaJyTtlGn+Q/YABoP8dLOCItIPPKbmqQLMEd0LCBFI+SPNWQ1m
                        DeBgkG8KALhMzc8EcEFVFzNxFSjrRTAEMNOi7FCQf5JH5yF7AL1B/nuLsjuD/NsMvNRVHl+DSRXC
                        ms2r0X8JgItKAN4GvFUC8DbgLdNGSESOEW1dG6kvZegPIpL0JuWiqr5K2Y55J9gD7DXGqKc9ayi7
                        ammonVvhCtDs1rTVFV0h+b39JmrT17RjbCeAe6o6mrayqh5NWlZEJoCR+KMJQFEXwS1B/qsl0P8A
                        YN2PgG+WQEUHsKSqFUugogLYHP81PzMoKoDqCDADaOfX4LCI3G5y/o6qzjc6KSLXiP43oJU2UPNt
                        f2pkfNt7iuTv8QdaxHq3hljV9Nr6xrqoU6Aq9ynwhtqOrJ7GgCMp4p4BfiYoZ350ZgKgqrPAs0bn
                        ReRKytCTqrqcsu6aVPQpYFYJwNuAt0oA3ga8VQLwNuCtEoC3AW+VALwNeKsE4G3AWyUAbwPeKgF4
                        G/BWCcDbgLdKAN4GvFUC8DbgrXUPIM/fDb4UkWZvewbyMhIqTwCNfifsqnU/BX4D8nJaDGqZXesA
                        AAAASUVORK5CYII=" />
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </table>
</body>
</html>
